body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-left: 140px;
  padding-right: 140px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.list-without-dots {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-navigation {
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
}

.site-navigation-item {
  margin-left: 23px;
  margin-right: 23px;
}

.basket-icon {
  margin-left: 26px;
  margin-right: 26px;
}

.page-title h1 {
  padding-top: 82px;
  padding-bottom: 116px;
  text-align: center;
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.8;
}

.main-navigation a:active {
  opacity: 0.3;
}

.site-navigation a,
.shopping-cart a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shopping-cart a:hover,
.shopping-cart a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.shopping-cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current {
  border-bottom: 2px solid #fb565a;
}

.container-index {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  margin-right: 15px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls label.active::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  background: #ffffff;
  border: 3px solid #dbdbdb;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 0px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.product-list {
  display: flex;
}

.products {
  margin-top: 80px;
  border-bottom: solid 2px #eeeeee;
  padding-bottom: 80px;
  margin-bottom: 40px;
}

.product-item {
  width: 300px;
  margin-right: 100px;
}

.product-item:last-child {
  margin-right: 0;
}

.product-item h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 26px;
}

.product-item p {
  color: #283136;
  margin-bottom: 35px;
  margin-top: 0;
}

.button-red {
  display: inline-block;
  padding: 17px 39px;
  line-height: 1;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 500;
  background-color: #fb565a;
  text-transform: uppercase;
  color: #ffffff;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.button-green {
  display: inline-block;
  padding: 17px 39px;
  line-height: 1;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 500;
  background-color: #00ca74;
  color: #ffffff;
  text-transform: uppercase;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.button-yellow {
  display: inline-block;
  padding: 17px 39px;
  line-height: 1;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 500;
  background-color: #efc84a;
  color: #ffffff;
  text-transform: uppercase;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.about-us-text {
  flex-grow: 1;
}

.about-us-text b {
  display: block;
  font-size: 45px;
  font-weight: 500;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 35px;
}

.about-us-text p {
  text-align: left
  color: #283136;
  max-width: 616px;
  margin: 0;
  margin-bottom: 47px;
}

.about-us-text h4,
.we-can {
  color: #283136;
  text-align: left;
}

.we-can {
  line-height: 2.5;
}

.we-can li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  vertical-align: middle;
  margin-right: 10px;
}

.about-us-text h4 {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us-stats {
  max-width: 360px;
}

caption {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.stats-percent td {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}

.stats-criteria td {
  text-align: left;
  color: #283136;
}

.stats-percent sup {
  font-size: 28px;
}

.clients {
  border-bottom: solid 2px #eeeeee;
  border-top: solid 2px #eeeeee;
  margin-bottom: 80px;
}

.our-clients {
  display: flex;
  padding-top: 46px;
  padding-bottom: 44px;
  align-items: center;
}

.our-clients li {
  width: 25%;
  position: relative;
}

.our-clients li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.our-clients li:first-child::before {
  display: none;
}

.our-clients img {
  display: block;
  opacity: 0.2;
  margin: auto;
}

.our-clients img:hover,
.our-clients img:focus {
  opacity: 1;
}

.our-clients img:active {
  opacity: 0.1;
}

.map {
  position: relative;
  padding-top: 54px;
  padding-bottom: 54px;
}

.google-maps {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.contacts {
  z-index: 2;
  position: relative;
  background-color: #ffffff;
  width: 319px;
  padding-top: 54px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
}

.contacts b {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 32px;
}

.contacts p {

  color: #666666;
  margin: 0;
}

.phone {
  color: inherit;
  display: block;
  margin-top: 15px;
  margin-bottom: 37px;
}

.contact-us-button {
  display: block;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  /*margin-bottom: 47px;*/
}

.contact-us-button:hover,
.contact-us-button:focus {
  background-color: #e74246;
}

.contact-us-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.footer-wrapper {
  display: flex;
  margin-top: 69px;
}

.social-buttons {
  display: flex;

}

.social-button {
  display: inline-block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-align: center;
  line-height: 79px;
  margin-right: 11px;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button:active .social-icon {
  opacity: 0.3;
}

.social-icon {
  display: inline-block;
  vertical-align: middle;
}

.discount {
  margin-left: 139px;
}

.discount b {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.discount p {
  text-align: left;
  color: #444444;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 260px;
  margin-right: 140px;
}

.right-column {
  flex-grow: 1;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  width: 260px;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 56px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 81px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 23px;
  padding: 0;

  /*border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;*/
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  font-size: 0;
  margin-bottom: 62px;
  padding-top: 3px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
  vertical-align: top;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-label {
  display: block;
}

.filter-label-radio::before {
  display: inline-block;
  background-image: url("../img/radio-off.svg");
  content: "";
  width: 25px;
  height: 25px;
  vertical-align: middle;
  opacity: 0.4;
  margin-right: 10px;
}

.filter-label-radio span {
  vertical-align: middle;
}

.filter-label-radio {
  margin-bottom: 15px;
}

.filter-input-radio:checked + .filter-label-radio::before {
  background-image: url("../img/radio-on.svg");
}

.range-grid {
  margin-bottom: 20px;
}

.radio-list {
  margin-bottom: 35px;
  color: #283136;
}

.filter-label-checkbox::before {
  display: inline-block;
  background-image: url("../img/checkbox-off.svg");
  content: "";
  width: 23px;
  height: 23px;
  vertical-align: middle;
  opacity: 0.4;
  margin-right: 13px;
}

.filter-label-checkbox span {
  vertical-align: middle;
}

.filter-label-checkbox {
  margin-bottom: 15px;
}

.filter-input-checkbox:checked + .filter-label-checkbox::before {
  background-image: url("../img/checkbox-on.svg");
}

.range-adds {
  margin-bottom: 22px;
}

.checkbox-list {
  margin-bottom: 50px;
  color: #283136;
}

.filter-label-radio:hover::before,
.filter-label-checkbox:hover::before,
.filter-label-radio:focus::before,
.filter-label-checkbox:focus::before {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.catalog-item {
  width: 360px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 33px;
}

.sort-list {
  display: flex;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: #000000;
}

.sort-list .active {
  color: #000000;
}

.sort-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.arrow-down {
  margin-right: 18px;
}

.sort-arrows svg {
  opacity: 0.3;
}

.active-arrow svg {
  opacity: 1;
}

.price-item {
  margin-right: 26px;
}

.type-item {
  margin-right: 27px;
}

.name-item {
  margin-right: 48px;
}

.sort-item {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}

.sort-form b {
  font-size: 18px;
}

.catalog-item-link::before {
  content: "";
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 40px;
  opacity: 0.12;
  transition: opacity 0.3s;
}

.catalog-item-link:hover::before {
  opacity: 1;
}

.catalog-item-link:focus::before {
  opacity: 1;
}

.catalog-item-link {
  display: block;
  position: relative;
  overflow: hidden;
}

.catalog-item-link:hover .catalog-item-info {
  display: block;
  transform: translateY(0);
}

.catalog-item-link:focus .catalog-item-info {
  display: block;
  transform: translateY(0);
}

.catalog-item-image {
  display: block;
}

.catalog-item-info {
  position: absolute;
  background-color: #eeeeee;
  width: 100%;
  z-index: 1;
  bottom: 0;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 43px;
  padding-right: 66px;
  padding-left: 66px;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.catalog-item-name {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.catalog-item-name:hover,
.catalog-item-name:focus {
  color: #fb565a;
}

.catalog-item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-description {
  color: #666666;
  line-height: 1.13;
  margin-bottom: 30px;
}

.price-button {
  display: block;
  color: white;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 200px;
  text-align: center;
  background-color: #fb565a;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

.price-button:hover,
.price-button:focus {
  background-color: #e74246;
}

.price-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.pages {
  margin-bottom: 60px;
  margin-top: 27px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}

.page {
  display: block;
  border: solid 3px #eeeeee;
  background-color: #eeeeee;
  text-transform: uppercase;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-right: 11px;
  color: black;
  min-width: 50px;
  border-radius: 2px;
}

.page:hover,
.page:focus {
  background-color: #dfdfdf;
  border: solid 3px #dfdfdf;
}

.page:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border: solid 3px #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.active-page {
  background-color: white;
  border: solid 3px #dbdbdb;
}

.next-page {
  padding-left: 78px;
  padding-right: 78px;
}

.modal-window {
  /*display: none;*/
  position: fixed;
  width: 960px;
  height: 590px;
  background-color: white;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 73px;
  padding-bottom: 84px;
}

.modal-window b {
  font-size: 45px;
  font-weight: 500;
  text-align: left;
}

.button-close {
  position: absolute;
  top: 78px;
  right: 90px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
}

.input-name {
  width: 50%;
  padding-right: 20px;
}

.input-e-mail {
  width: 50%;
  padding-left: 20px;
}

.input-message {
  width: 100%;
}

.appointment-form label {
  font-weight: bold;
  display: block;
}

.appointment-form input {
  display: block;
  width: 100%;
  opacity: 0.5;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 15px
}

.appointment-form textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.appointment-form input:hover {
  border: solid 2px #b4b9bb;
}

.appointment-form input:focus {
  border: solid 2px #000000;
}

.appointment-form input:invalid {
  border: solid 2px #e74246;
}

.name input {
  border: solid 2px #d7dcde;
  background-color: #ffffff;
}

.e-mail input {

  border: solid 2px #d7dcde;
  background-color: #ffffff;
}

.message textarea {
  border: solid 2px #d7dcde;
  background-color: #ffffff;
}

::-webkit-input-placeholder,
::-webkit-input-placeholder:hover {
  color: rgba(68, 68, 68, 0.5);
}

::-webkit-input-placeholder:focus {
  color: #444444;
}

::-webkit-input-placeholder:invalid {
  color: #e74246;
}

.page-title h1 {
  font-size: 55px;
  font-weight: 500;
}

.filter-button {
  display: block;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 13px 0;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}
